doctype html
html
  head
    title= title
    script(type='module', src='/javascripts/game.js')
    script(type='text/javascript', src='/javascripts/three.min.js')
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #TutContainer
